# API de IA 
CHATBOT_API_KEY=gsk_tu_clave_aqui
GROQ_MODEL=llama-3.3-70b-versatile

# Base de datos MySQL
DATABASE_URL=mysql+pymysql://root:tu_password@localhost:3306/medicai


ACCESS_TOKEN_EXPIRE_MINUTES=60
